@use '../styles/variables' as *;
@use "sass:math";

.main-layout-container {
  display: flex;
  min-height: 100svh; // Đảm bảo container ít nhất cao bằng màn hình
  background-color: $container-bg-color;
}

.main-content {
  flex-grow: 1;
  height: calc(100svh - #{$navbar-height-mobile}); // <<< Quan trọng: Chiếm đúng 100% chiều cao viewport
  overflow: hidden; // <<< QUAN TRỌNG: Ngăn .main-content cuộn
  transition: margin-left $transition-default, padding-bottom $transition-default;

  // --- Mobile Styles (Mặc định) ---
  margin-left: 0;
  padding: 0;
  // <<< Padding bottom vẫn cần cho bottom nav >>>
  padding-bottom: $navbar-height-mobile;
  // <<< Cần box-sizing để padding-bottom không làm tăng chiều cao tổng >>>
  box-sizing: border-box;


  // --- Desktop Styles ---
  @media (min-width: $breakpoint-medium) {
    margin-left: math.div($sidebar-width-desktop, 0.8);
    padding-bottom: $spacing-lg;
    padding-top: $spacing-lg;
    padding-right: $spacing-lg;
    height: 100svh; // Đảm bảo không vượt quá chiều
  }
}